<html>
<head>
<title>Change Password</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<div class="container">
        <h3 class="well" align="center">Change Password</h3>
        <div class="col-lg-12 well">
        <div class="row">
                    <form action={{ url_for('changePassword') }} method="POST" onsubmit="return validate()">
                        <div class="col-sm-6">
                                <div class="form-group">
                                    <label>Old Password</label>
                                    <input type="password" name="oldpassword" placeholder="Enter Old Password.." class="form-control">
                                </div>
                                <div class="form-group">
                                    <label>New Password</label>
                                    <input type="password" name="newpassword" placeholder="Enter New Password.." class="form-control" id="newpassword">
                                </div>
                            	<div class="form-group">
                                	<label>Confirm Password</label>
                                	<input type="password" name="cpassword" placeholder="Confirm Password.." class="form-control" id="cpassword">
                            	</div>					
                        <button type="submit" value="Save" class="btn btn-lg btn-info">Change Password</button>
						<a href="{{ url_for('profileHome') }}">Go to Profile</a>
                        </div>
                    </form> 
                    </div>
        </div>
        </div>
{% include "footer.html" %}
</body>
</html>


