<!DOCTYPE HTML>
<html>
<head>
<title>Edit Profile </title>
<link rel="stylesheet" href={{ url_for('static', filename='css/editProfile.css') }} />
<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css') }} />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">

		</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	{% include "nav.html" %}


<div class="display">
	<h2>Edit profile</h2>
	<form action="/updateProfile" method="POST">
		<p>Email:<input type="email" name="email" value={{profileData[1]}} readonly="readonly"></p>
		<p>First Name:<input type="text" name="firstName" value={{profileData[2]}}></p>
		<p>Last Name: <input type="text" name="lastName" value={{profileData[3]}}></p>
		<p>Address 1: <input type="text" name="address1" value={{profileData[4]}}></p>
		<p>Address 2: <input type="text" name="address2" value={{profileData[5]}}></p>
		<p>Zip Code: <input type="text" name="zipcode" value={{profileData[6]}}></p>
		<p>City: <input type="text" name="city" value={{profileData[7]}}></p>
		<p>State: <input type="text" name="state" value={{profileData[8]}}></p>
		<p>Country: <input type="text" name="country" value={{profileData[9]}}></p>
		<p>Phone Number: <input type="text" name="phone" value={{profileData[10]}}></p>
		<input type="submit" value="Save">
	</form>
</div>
{% include "footer.html" %}
</body>
</html>

