<!DOCTYPE HTML>
<html>

<head>
	<title>Welcome</title>
	<link rel="stylesheet" href={{ url_for('static', filename='css/home.css' ) }} />
	<link rel="stylesheet" href={{ url_for('static', filename='css/topStyle.css' ) }} />
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/c96d3752b6.js" crossorigin="anonymous"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">

		</script>
		<link href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.10/semantic.min.js"></script>
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<style>
		* {
			box-sizing: border-box;
		  }
		  
		.spacer {
    height: 50px;
}
	</style>
</head>

<body>
	{% include "nav.html" %}

<nav class="navbar navbar-main navbar-expand-lg navbar-light border-bottom">
	<div class="container">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main_nav" aria-controls="main_nav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
  
	  <div class="collapse navbar-collapse" id="main_nav">
		<ul class="navbar-nav">
			{% for row in categoryData %}
		  <li class="nav-item">
			<a class="nav-link" href="/displayCategory?categoryId={{row[0]}}">{{row[1]}}</a>
		  </li>
		  {% endfor %}
		</ul>
	  </div> <!-- collapse .// -->
	</div> <!-- container .// -->
  </nav>
  <div class="spacer"></div>
  <section class="section-intro padding-y-sm">
	<div class="container">
	
	<div class="intro-banner-wrap">
	  <img src="/static/images/bg.png" class="img-fluid rounded">
	</div>
	
	</div> <!-- container //  -->
	</section>
	<div class="spacer"></div>
	<!-- ========================= SECTION INTRO END// ========================= -->
	
	
	<!-- ========================= SECTION FEATURE ========================= -->
	<section class="section-content padding-y-sm">
	<div class="container">
	<article class="card card-body">
	
	
	<div class="row">
	  <div class="col-md-4">  
		<figure class="item-feature">
		  <span class="text-primary"><i class="fa fa-2x fa-truck"></i></span>
		  <figcaption class="pt-3">
			<h5 class="title">Fast delivery</h5>
			<p>Dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore </p>
		  </figcaption>
		</figure> <!-- iconbox // -->
	  </div><!-- col // -->
	  <div class="col-md-4">
		<figure  class="item-feature">
		  <span class="text-primary"><i class="fa fa-2x fa-landmark"></i></span>  
		  <figcaption class="pt-3">
			<h5 class="title">Creative Strategy</h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 </p>
		  </figcaption>
		</figure> <!-- iconbox // -->
	  </div><!-- col // -->
		<div class="col-md-4">
		<figure  class="item-feature">
		  <span class="text-primary"><i class="fa fa-2x fa-lock"></i></span>
		  <figcaption class="pt-3">
			<h5 class="title">High secured </h5>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			 </p>
		  </figcaption>
		</figure> <!-- iconbox // -->
	  </div> <!-- col // -->
	</div>
	</article>
	
	</div> <!-- container .//  -->
	</section>
	<div class="spacer"></div>
		<!-- <div>
			{% for data in itemData %}
			<table align="center">
				<tr id="productName">
					{% for row in data %}
					<td>
						{{row[1]}}
					</td>
					{% endfor %}
				</tr>
				<tr id="productImage">
					{% for row in data %}
					<td>
						<a href="/productDescription?productId={{row[0]}}">
							<img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" />
						</a>
					</td>
					{% endfor %}
				</tr>
				<tr id="productPrice">
					{% for row in data %}
					<td>
						Rs {{row[2]}}
					</td>
					{% endfor %}
				</tr>
			</table>
			{% endfor %}
		</div>  -->
		
		 <div class="container px-4">
			{% for data in itemData %}
			<div class="row gx-5">
			  {% for row in data %}
			  <div class="col">
				<div class="p-3 border" align="center"><a href="/productDescription?productId={{row[0]}}">
					<img src={{ url_for('static', filename='uploads/' + row[4]) }} id="itemImage" />
				</a></div>
			  </div>
			  {% endfor %}
			</div>
			{% endfor %}

		  </div> 
		{% include "footer.html" %}
		</body>
</html>
