<html>
<head>
<title>Sign up</title>
<script type="text/javascript" src="{{ url_for('static', filename = 'js/validateForm.js') }}">
</script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
		crossorigin="anonymous"></script>

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js"
		integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous">

		</script>
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<form action="/register" method="POST" onsubmit="return validate()">
    <p>Email: <input type="email" name="email"></p>

    <P>Password: <input type="password" name="password" id="password" required></p>

    <p>Confirm Password: <input type="password" name="cpassword" id="cpassword"></p>

    <p>First Name: <input type="text" name="firstName"></p>
    <p>Last Name: <input type="text" name="lastName"></p>
    <p>Address Line 1: <input type="text" name="address1"></p>
    <p>Address Line 2: <input type="text" name="address2"></p>
    <p>Zipcode: <input type="text" name="zipcode"></p>
    <p>City: <input type="text" name="city"></p>
    <p>State: <input type="text" name="state"></p>
    <p>Country: <input type="text" name="country"></p>
    <p>Phone Number: <input type="text" name="phone"></p>

    <p><input type="submit" value="Register"></p>

    <a href="/loginForm">Login here</a>
</form>
</body>
</html>



